---
import { convertPathToHtml } from "../../../utils/index.js"
const { path, mainPage, page } = Astro.props
const htmlPath = convertPathToHtml(path);

// Smart path resolution: calculate relative path based on directory depth
const pathname = Astro.url.pathname;
const pathSegments = pathname.split('/').filter(segment => segment !== '');
const depth = pathSegments.length > 0 ? pathSegments.length - 1 : 0;
// const deploymentPath = depth === 0 ? './' : '../'.repeat(depth);
const deploymentPath = '/esuite/';

---

<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <!--begin::Brand Link-->
    <a href={htmlPath + "/index.html"} class="brand-link">
      <!--begin::Brand Image-->
      <img
        src={deploymentPath + "assets/img/AdminLTELogo.png"}
        alt="AdminLTE Logo"
        class="brand-image opacity-75 shadow"
      />
      <!--end::Brand Image-->
      <!--begin::Brand Text-->
      <span class="brand-text fw-light">AdminLTE 4</span>
      <!--end::Brand Text-->
    </a>
    <!--end::Brand Link-->
  </div>
  <!--end::Sidebar Brand-->
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <!--begin::Sidebar Menu-->
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        role="navigation"
        aria-label="Main navigation"
        data-accordion="false"
        id="navigation"
      >
        <li class="nav-item" id="menu-param-generales">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-gear"></i>
            <p>
              PARÁMETROS GENERALES DEL SISTEMA
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item" id="menu-base-datos">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-database"></i>
            <p>
              BASE DE DATOS
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item" id="menu-presupuesto">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-cash-coin"></i>
            <p>
              COMPONENTE PRESUPUESTO OFICIAL
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item" id="menu-juridico">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-briefcase"></i>
            <p>
              COMPONENTE JURÍDICO
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item menu-open" id="menu-facturacion-hosp">
          <a href="#" class="nav-link active">
            <i class="nav-icon bi bi-hospital"></i>
            <p>
              COMPONENTE FACTURACIÓN HOSPITALARIA
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" id="submenu-facturacion">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-pencil-square"></i>
                <p>
                  Facturación
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-journal-text"></i>
                    <p>
                      Facturación ambulatoria
                      <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href={htmlPath + "/facturacion-general.html"} class="nav-link">
                        <i class="nav-icon bi bi-circle"></i>
                        <p>Facturación general</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href={htmlPath + "/facturacion-admision-ambulatoria.html"} class="nav-link">
                        <i class="nav-icon bi bi-circle"></i>
                        <p>Admisión ambulatoria</p>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href={htmlPath + "/facturacion-hospitalizacion.html"} class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Facturación en hospitalización</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href={htmlPath + "/facturacion-urgencias.html"} class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Facturación en urgencias</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Facturación de otros prestadores</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Control de documentos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Autorizaciones de descuentos y créditos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Cotizaciones de servicios</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item" id="submenu-formularios">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-file-earmark-text"></i>
                <p>
                  Formularios de reclamación
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Formularios de reclamación al SOAT</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Formularios de reclamación por eventos diferentes a accidentes de tránsito</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Formularios de reclamación de indemnizaciones</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item" id="submenu-citas">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-calendar-check"></i>
                <p>
                  Citas médicas
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Programación de agendas</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Novedades</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Agenda médica</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item" id="submenu-datos">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-bar-chart"></i>
                <p>
                  Datos estadísticos y clínicos
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Complementar datos estadísticos con datos de identificación del usuario</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Complementar datos estadísticos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Tarjetero índice</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Consultar datos clínicos</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item" id="submenu-modulos">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-puzzle"></i>
                <p>
                  Módulos complementarios
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-people"></i>
                    <p>Promoción y mantenimiento de la salud</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item" id="submenu-informes">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-file-earmark-bar-graph"></i>
                <p>
                  Generación de informes
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Informes financieros</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Informes estadísticos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Otros informes normativos</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item" id="submenu-otros">
              <a href="#" class="nav-link">
                <i class="nav-icon bi bi-three-dots"></i>
                <p>
                  Otros procesos
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-calendar-x"></i>
                    <p>
                      Cierres de periodos
                      <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-lock"></i>
                        <p>Cierres de mes</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-lock"></i>
                        <p>Cierres diarios</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-unlock"></i>
                        <p>Aperturas de mes</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-unlock"></i>
                        <p>Aperturas diarias</p>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-download"></i>
                    <p>Exportar parámetros</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-download"></i>
                    <p>Exportar datos de movimientos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-upload"></i>
                    <p>Importar parámetros</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-upload"></i>
                    <p>Importar datos de movimientos</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item" id="menu-facturacion-elec">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-receipt"></i>
            <p>
              COMPONENTE FACTURACIÓN ELECTRÓNICA
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
        </li>
      </ul>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->
<!--end::Sidebar-->

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const user = localStorage.getItem('user');
    
    if (user === 'facturacion') {
      // Hide all top-level items except Facturación Hospitalaria
      const topLevelIds = [
        'menu-param-generales',
        'menu-base-datos',
        'menu-presupuesto',
        'menu-juridico',
        'menu-facturacion-elec'
      ];
      
      topLevelIds.forEach(id => {
        const el = document.getElementById(id);
        if (el) el.style.display = 'none';
      });

      // Inside Facturación Hospitalaria, hide other submenus
      const subMenuIds = [
        'submenu-formularios',
        'submenu-citas',
        'submenu-datos',
        'submenu-modulos',
        'submenu-informes',
        'submenu-otros'
      ];

      subMenuIds.forEach(id => {
        const el = document.getElementById(id);
        if (el) el.style.display = 'none';
      });
      
      // Ensure the allowed menu is open
      const facturacionHosp = document.getElementById('menu-facturacion-hosp');
      if (facturacionHosp) {
          facturacionHosp.classList.add('menu-open');
          const link = facturacionHosp.querySelector('a.nav-link');
          if (link) link.classList.add('active');
      }
      
      const submenuFacturacion = document.getElementById('submenu-facturacion');
      if (submenuFacturacion) {
          submenuFacturacion.classList.add('menu-open');
          // Also open the next level "Facturación ambulatoria" if needed, or leave it to user
      }
    }
  });
</script>
